In [1]:
import pandas as pd
df=pd.read_csv("C:\\Users\\kgnan\\OneDrive\\Desktop\\ANN\\pandas\\concrete.csv")
#data frame is basically rows and columns of data.

In [2]:
df

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength
0,141.3,212.0,0.0,203.5,0.0,971.8,748.5,28,29.89
1,168.9,42.2,124.3,158.3,10.8,1080.8,796.2,14,23.51
2,250.0,0.0,95.7,187.4,5.5,956.9,861.2,28,29.22
3,266.0,114.0,0.0,228.0,0.0,932.0,670.0,28,45.85
4,154.8,183.4,0.0,193.3,9.1,1047.4,696.7,28,18.29
...,...,...,...,...,...,...,...,...,...
1025,135.0,0.0,166.0,180.0,10.0,961.0,805.0,28,13.29
1026,531.3,0.0,0.0,141.8,28.2,852.1,893.7,3,41.30
1027,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28
1028,342.0,38.0,0.0,228.0,0.0,932.0,670.0,270,55.06
1029,540.0,0.0,0.0,173.0,0.0,1125.0,613.0,7,52.61

In [3]:
#single feature scaling
df['age']=df['age']/df['age'].max()

In [4]:
df.head()

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength
0,141.3,212.0,0.0,203.5,0.0,971.8,748.5,0.076712,29.89
1,168.9,42.2,124.3,158.3,10.8,1080.8,796.2,0.038356,23.51
2,250.0,0.0,95.7,187.4,5.5,956.9,861.2,0.076712,29.22
3,266.0,114.0,0.0,228.0,0.0,932.0,670.0,0.076712,45.85
4,154.8,183.4,0.0,193.3,9.1,1047.4,696.7,0.076712,18.29

In [5]:
#MinMax
df['water']=(df['water']-df['age'].min())/(df['water'].max()-df['age'].min())

In [6]:
df.head()

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength
0,141.3,212.0,0.0,0.823885,0.0,971.8,748.5,0.076712,29.89
1,168.9,42.2,124.3,0.640887,10.8,1080.8,796.2,0.038356,23.51
2,250.0,0.0,95.7,0.758702,5.5,956.9,861.2,0.076712,29.22
3,266.0,114.0,0.0,0.923076,0.0,932.0,670.0,0.076712,45.85
4,154.8,183.4,0.0,0.782589,9.1,1047.4,696.7,0.076712,18.29

In [9]:
#z-score
df['slag']=(df['slag']-df['slag'].mean())/df['slag'].std()

In [10]:
df.head()

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength
0,141.3,1.600663,0.0,0.823885,0.0,971.8,748.5,0.076712,29.89
1,168.9,-0.367363,124.3,0.640887,10.8,1080.8,796.2,0.038356,23.51
2,250.0,-0.856472,95.7,0.758702,5.5,956.9,861.2,0.076712,29.22
3,266.0,0.464818,0.0,0.923076,0.0,932.0,670.0,0.076712,45.85
4,154.8,1.269182,0.0,0.782589,9.1,1047.4,696.7,0.076712,18.29

In [12]:
import numpy as np
df['cement']=np.log(df['cement'])

In [13]:
df.head()

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength
0,4.950885,1.600663,0.0,0.823885,0.0,971.8,748.5,0.076712,29.89
1,5.129307,-0.367363,124.3,0.640887,10.8,1080.8,796.2,0.038356,23.51
2,5.521461,-0.856472,95.7,0.758702,5.5,956.9,861.2,0.076712,29.22
3,5.583496,0.464818,0.0,0.923076,0.0,932.0,670.0,0.076712,45.85
4,5.042134,1.269182,0.0,0.782589,9.1,1047.4,696.7,0.076712,18.29

In [20]:
from scipy.stats import zscore
df['fineagg']=zscore(df['fineagg'])

In [21]:
df.head()

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength
0,-1.621636,1.600663,0.0,0.823885,0.0,971.8,-0.312970,0.076712,29.89
1,-1.153050,-0.367363,124.3,0.640887,10.8,1080.8,0.282260,0.038356,23.51
2,-0.123143,-0.856472,95.7,0.758702,5.5,956.9,1.093371,0.076712,29.22
3,0.039780,0.464818,0.0,0.923076,0.0,932.0,-1.292542,0.076712,45.85
4,-1.381991,1.269182,0.0,0.782589,9.1,1047.4,-0.959363,0.076712,18.29

In [22]:
from scipy.stats import zmap
df['ash']=zmap(df['ash'], df['superplastic'])

In [23]:
df.head()

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength
0,-1.621636,1.600663,-1.039143,0.823885,0.0,971.8,-0.312970,0.076712,29.89
1,-1.153050,-0.367363,19.778347,0.640887,10.8,1080.8,0.282260,0.038356,23.51
2,-0.123143,-0.856472,14.988482,0.758702,5.5,956.9,1.093371,0.076712,29.22
3,0.039780,0.464818,-1.039143,0.923076,0.0,932.0,-1.292542,0.076712,45.85
4,-1.381991,1.269182,-1.039143,0.782589,9.1,1047.4,-0.959363,0.076712,18.29